/* DEFINE */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 767.98px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 500px){
    html{
        font-size: 42.5%;
    }
}

.align-center{
    text-align: center;
}

.small-column{
    width: 80%;
}

@media (max-width: 767.98px){
    .small-column{
        width: 100%;
    }
}


@media (min-width: 576px){
    .container{
        max-width: 90%;
    }
}


body{
    color: #606060;
    font-family: 'Roboto Slab', sans-serif;
    scroll-behavior: smooth;
}

/* SECTIONS */
.logo{
    width: 100%;
    max-width: 500px;
}

@media (max-width: 767.98px){
    .logo{
        width: 80%;
        max-width: 300px;
        margin: 2rem 0;
    }
}

#nav{
    background-color: #efd9cb;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

#nav .nav-link{
    color: #606060;
}

#nav .nav-link:hover{
    color: #e6a42c;
}

.top{
    max-width: 700px;
    font-size: 2.5rem;
    padding-top: 2rem;
}

section{
    padding: 2rem 0;
    margin: 2rem 0;
}

.section-title{
    color: #606060;
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: 400;
}

.section-description{
    text-align: center;
    font-size: 1.5rem;
    max-width: 75%;
    padding: 1rem 0;
    font-weight: 300;
}

@media (max-width: 991.98px){
    .section-description{
        max-width: 90%;
    }
}

#social-icons{
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    left: 2rem ;
}

#social-icons a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #000;
    transition: all .3s ease;
}

#social-icons a:first-child{
    background-color: #000000;
    color: #fff;
    font-size: 2.5rem;
    transition: all .3s ease;
}

#social-icons a:first-child:hover{
    background-color: #fff;
    color: #3b5998;
    border: 1px solid #3b5998;
}

#social-icons a:nth-child(2){
    background-color: #000;
    color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#social-icons a:nth-child(2):hover{
    background-color: #fff;
    color: #d62976;
    border: 1px solid #d62976;
}

@media (max-width: 767.98px){
    #social-icons{
        font-size: 2rem;
        top: 10px;
        left: 10px;
    }

    #social-icons a{
        display: block;
        margin: 1rem 0;
    }
}

.modal-img{
    width: 100%;
}

.modals h3{
    font-size: 3.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.modals p{
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
}

.modals .btn{
    font-size: 2rem;
}

.card{
    padding: 5px;
    height: 100%;
    max-width: 400px;
    position: relative;
}

.card-content{
    position: relative;
    bottom: 0;
}

.img-container{
    width: 100%;
    height: 80vh;
    min-height: 400px;
    max-height: 600px;
    overflow: hidden;
    /* background-color: red; */
}

@media (max-width: 1199.98px){
    .img-container{
        height: 50vh;
    }
}

@media (max-width: 991.98px){
    .card{
        max-width: 100%;
    }

    .img-container{
        min-height: 16rem;
    }
}

@media (max-width: 767.98px){
    .card{
        max-width: 100%;
    }

    .img-container{
        min-height: 16rem;
    }
}

.portrait-img{
    /* width: 100%; */
    height: 100%;
}

.img-container img{
    /* max-width: 100%;
    max-height:100%;
    display: inline-block; /* Instead of display: block; */
    /* margin: 0 auto;
    vertical-align: middle; */
    /* width: 100%; */
}

.bg-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg-item-1{
    background-image: url("../images/post_1.jpg");
}

.bg-item-2{
    background-image: url("../images/post_2.jpg");
}

.bg-item-3{
    background-image: url("../images/post_3.jpg");
}

.post-title{
    color: #222;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.post-content{
    font-size: 1.5rem;
    text-align: justify;
    padding: 5px 15px;
}

.my-btn{
    display: block;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all .5s;
    font-size: 1.5rem;
}

.my-btn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all .5s;
}

.my-btn span:after{
    content: '≫';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -20px;
    transition: all .5s;
}

.my-btn:hover{
    background-color: #e6a42c;
    color: #000;
    border-color: #fff;
}

.my-btn:hover span{
    padding-right: 25px;
}

.my-btn:hover span:after{
    opacity: 1;
    right: 0;
}

.first-btn{
    padding: 10px 5px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #606060;
}

.first-btn:hover{
    background-color: #fff;
    color: #e6a42c;
}

.shop-item{
    padding: 5px;
    border: 2px solid #000;
    height: 100%;
}

.shop-item img{
    width: 100%;
    max-width: 600px;
    height: 100%;
}

@media (max-width: 767.98px){
    .shop-item{
        margin: 3rem 0;
    }
}

.omnie{
    background-color: #f2d4bc;
}

.omnie-img{
    width: 70%;
    min-width: 300px;
}