/* DEFINE */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 767.98px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 500px){
    html{
        font-size: 42.5%;
    }
}

.align-center{
    text-align: center;
}

.small-column{
    width: 80%;
}

@media (max-width: 767.98px){
    .small-column{
        width: 100%;
    }
}


@media (min-width: 576px){
    .container{
        max-width: 90%;
    }
}


body{
    color: #606060;
    font-family: 'Roboto Slab', sans-serif;
    scroll-behavior: smooth;
}

/* SECTIONS */
.logo{
    width: 100%;
    max-width: 450px;
    padding: 3rem 0 2rem 0;
}

@media (max-width: 767.98px){
    .logo{
        width: 100%;
        max-width: 300px;
    }
}

#nav{
    background-color: #efd9cb;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

#nav .nav-link{
    margin: 0 10px;
    color: #606060;
}

#nav .nav-link:hover{
    color: #e6a42c;
}

.top{
    max-width: 700px;
    font-size: 2.5rem;
    padding-top: 2rem;
}

section{
    padding: 2rem 0;
    margin: 2rem 0;
}

.section-title{
    color: #000;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    text-align: center;
    font-weight: 600;
}

.section-description{
    text-align: center;
    font-size: 1.5rem;
    max-width: 75%;
    padding: 1rem 0;
    font-weight: 300;
}

@media (max-width: 991.98px){
    .section-description{
        max-width: 90%;
    }
}

#social-icons{
    position: absolute;
    font-size: 2rem;
    top: 3rem;
    left: 2rem ;
}

#social-icons a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #000;
    transition: all .3s ease;
}

#social-icons a:first-child{
    background-color: #000000;
    color: #fff;
    font-size: 2rem;
    transition: all .3s ease;
}

#social-icons a:first-child:hover{
    background-color: #fff;
    color: #3b5998;
    border: 1px solid #3b5998;
}

#social-icons a:nth-child(2){
    background-color: #000;
    color: #fff;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#social-icons a:nth-child(2):hover{
    background-color: #fff;
    color: #d62976;
    border: 1px solid #d62976;
}

@media (max-width: 767.98px){
    #social-icons{
        font-size: 2rem;
        top: 10px;
        left: 10px;
    }

    #social-icons a{
        display: block;
        margin: 1rem 0;
    }
}

.modal-img{
    width: 100%;
}

.modal{
    display: inline-block;
    color: inherit;
}

.modals h3{
    font-size: 3.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.modals p{
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    margin: 1rem 0 1rem 0;
}

.modals ul li{
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    margin: 0;
}

.modals .btn{
    font-size: 2.2rem;
}

.card{
    padding: 5px;
    height: 100%;
    max-width: 400px;
    position: relative;
}

.card-content{
    position: relative;
    height: 100%;
    padding-bottom: 50px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}

.img-container::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media (max-width: 991.98px){
    .card{
        max-width: 100%;
    }
}

.portrait-img{
    height: 100%;
}

.bg-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg-item-1{
    background-image: url("../images/akcesoria.jpg");
}

.bg-item-2{
    background-image: url("../images/domi.jpg");
}

.bg-item-3{
    background-image: url("../images/gazety.jpg");
}

.bg-item-4{
    background-image: url("../images/koszula.jpg");
}

.post-title{
    color: #606060;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.post-content{
    font-size: 1.5rem;
    text-align: justify;
    padding: 5px 15px;
    margin-bottom: 0;
    position: relative;
}

.post-content p{
    font-size: 1.5rem;
}

.my-btn{
    cursor: pointer;
    display: inline-block;
    color: #000;
    width: 200px;
    transition: all .3s;
    font-size: 1.5rem;
    text-decoration: none;
}

.my-btn:hover{
    color: #e6a42c;
    text-decoration: none;
}

.first-btn{
    font-size: 1.8rem;
    font-weight: 700;
    color: #606060;
    text-decoration: none;
}

.first-btn:hover{
    color: #e6a42c;
    text-decoration: none;
}

.second-btn{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;
    transition: color .3s;
    color: #606060;
    margin-bottom: 10px;
}

.second-btn:hover{
    color: #e6a42c;
    text-decoration: none;
}

@media (max-width: 575.98px){
    .second-btn{
        display: block;
        width: 100%;
    }
}

.shop-item{
    padding: 5px;
    border: 2px solid #000;
}

.shop-item img{
    width: 100%;
    max-width: 600px;
    height: 100%;
}

@media (max-width: 767.98px){
    .shop-item{
        margin: 3rem 0;
    }
}

.omnie{
    background-color: #efd9cb;
    text-align: justify;
}

.omnie-img{
    width: 70%;
    min-width: 300px;
}

.omnie h3{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
}

.omnie p{
    font-size: 2rem;
}

.omnie ul{
    list-style: none;
    text-align: center;
}

.omnie ul li{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

.odstep{
    display: block;
    margin: 3rem 0;
    content: '&nbsp;';
}

.omnie-info{
    max-width: 1000px;
    font-size: 1.8rem;
    text-align: justify;
}

.omnie-info p{
    margin-bottom: 3rem;
}

.omnie-page-img{
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    box-sizing: content-box;
    padding-left: 2.5rem;
    padding-bottom: .5rem;
}

.omnie-heading{
    font-size: 2.5rem;
    font-weight: 600;
}

.a-btn{
    margin: 0;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 400;
}

.a-btn:hover{
    text-decoration: none;
}

.circle-image{
    border-radius: 50%;
    overflow: hidden;
}

.omnie-linki{
    max-width: 1000px;
    font-size: 2.6rem;
    text-align: center;
    border: 1px solid #222;
    padding: 2rem 0;
}

.omnie-linki p:first-child{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.omnie-linki li{
    padding: .5rem 0;
}

footer{
    background-color: #ebeae6;
    color: #222;
    font-family: inherit;
    padding: 1rem;
    margin-top: 5rem;
    font-size: 1.6rem;
    text-align: center;
}